



.cursos-container{
    margin-top: 180px;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
}

.cursos-container img{
    width: 650px;
    height: 450px;
    border-radius: 25px;
}

.cursos-container img:hover{
    width: 640px;
    height: 440px;
    border-radius: 25px;
}

.cursos-container p{
    padding-top: 10px;
    color: #ffffff;
    
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
}
.cursos-container .grid-item1{
    
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 1/2;
    grid-row: 1/2;

}
.cursos-container .grid-item2{
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.cursos-container .grid-item3{
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 1/2;
    grid-row: 2/3;

}
.cursos-container .grid-item4{
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 2/3;
    grid-row: 2/3;

}

.nosotros-container{
    background-color: #ffffff;
    margin-top: 180px;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
}

.nosotros-container img{
    margin-bottom: 20px;
    width: 20rem;
    height: 21rem;
    border-radius: 25px;
}

.nosotros-container img:hover{
    width: 19rem;
    height: 20rem;
    border-radius: 25px;
}

.nosotros-container p{
    padding: 5px 25px 5px 25px;
    
    color: #1a1a1a;
    
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
}
.nosotros-container .grid-item1{
    
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 1/2;
    grid-row: 1/2;

}
.nosotros-container .grid-item2{
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.nosotros-container .grid-item3{
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 1/2;
    grid-row: 2/3;

}
.nosotros-container .grid-item4{
    
    border-radius: 25px;
    padding: 25px 0px 50px 0px;
    grid-column: 2/3;
    grid-row: 2/3;

}

.llegar-container {
    background-color: #ffffff;
    margin-top: 180px;
    margin-bottom: 200px;
    border-radius: 25px;
    padding: 0;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,700px);
    border: 8px solid #1a1a1a;
    
}

.llegar-container p{
    padding: 5px 25px 5px 25px;
    
    color: #ffffff;
    
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
}

.llegar-container .grid-item1{
    padding: 15px;
    border-radius: 15px;
    background-color: #1a1a1a;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    text-align: center;
}
.llegar-container .grid-item2{
    align-items: center;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.llegar-container .grid-item2 iframe{
    padding: 15px;
    border-radius: 25px;
    background-color: #1a1a1a;
}
.titulo-llegar h2{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 300px;
    text-decoration:underline;
}

.titulo-contacto h2{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 300px;
    text-decoration:underline;
}
.contactos-container{
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 25px;
    padding: 0;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,700px);
    border: 8px solid #1a1a1a;
}
.contactos-container .grid-item1 form{
    padding: 25px;
    border-radius: 10px;
    background-color: #1a1a1a;
    align-items: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.contactos-container .grid-item1 form div {
    display: flex;
    padding: 20px;
}
.contactos-container .grid-item1 form label{
    margin-right: 20px;
    color: #ffffff;
    display: flex;
    text-align: center;
}
.contactos-container .grid-item2{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}
.contactos-container .grid-item2 ul{
    margin: 55px;
    padding: 45px;
    list-style: none
}
.contactos-container .grid-item2 ul li{
    margin: 55px;
    padding: 45px;
}
.contactos-container .grid-item2 ul li a{
    text-decoration: none;
    color: #1a1a1a;
}
.contactos-container .grid-item2 ul .text{
    display: flex;
}
.contactos-container .grid-item2 ul .text img{
    padding-right: 10px;
}

@media (max-width:950px) {
    .header label {

        display: initial;
    }
    .header{
        padding: 20px 10%;
        
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(19, 44, 58, 0.788);
        display: none;
    }
    .header .navbar ul li{
        width: 100%;
    }
    .header .navbar ul li a{
        padding: 8px 30px 8px 10%;
    }
    .header .navbar ul li ul{
        position: relative;
        width: 100%;
        left: 0;
        font-size: medium;
    }
    .header .navbar ul li ul li{
        font-size: medium;
        background-color: rgba(19, 44, 58, 0.788);
    }
    #Menu-boton:checked ~ .navbar{
        display: block;
    }

    .infofame h1{
        text-align: center;
        color: #ffffff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 200px;
        margin-bottom: 45px;
        text-decoration:underline;
    }
    .infofame p{
        text-align: center;
        margin: 2px;
        color: #ffffff;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0px 50px;
    }

    .nosotros-container{
        background-color: #ffffff;
        margin-top: 180px;
        margin-bottom: 80px;
        padding: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        
    }
    .footer{
        padding: 20px 10%;
        
    }
    .footer .navbar-foot{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(19, 44, 58, 0.788);
        display: none;
    }
    .footer .navbar-foot ul li{
        width: 100%;
    }
    .footer .navbar-foot ul li a{
        padding: 8px 30px 8px 10%;
    }
    .footer .navbar-foot ul li ul{
        position: relative;
        width: 100%;
        left: 0;
        font-size: medium;
    }
    .footer .navbar-foot ul li ul li{
        font-size: medium;
        background-color: rgba(19, 44, 58, 0.788);
    }
    
    
}
