/*basico*/
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

/*body*/
body {
  min-height: 100vh;
  background-image: url(../Images/fondo-inicio.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}

/*introduccion*/
.infofame {
  margin-top: 150px;
}
.infofame h1 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 200px;
  margin-bottom: 45px;
  text-decoration: underline;
}
.infofame p {
  text-align: center;
  margin: 8px;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0px 100px;
}

/* carrusel */
.carousel {
  width: 100%;
}
.carousel .carousel-item img {
  border-radius: 25px;
}

/*imports*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  background-color: rgba(19, 44, 58, 0.788);
  padding: 0px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.header #Menu-boton, .header label {
  display: none;
  cursor: pointer;
}
.header .menu {
  height: 45px;
  width: 45px;
}
.header .navbar ul {
  list-style: none;
}
.header .navbar ul li {
  float: left;
  position: relative;
}
.header .navbar ul li:hover > ul {
  display: initial;
}
.header .navbar ul li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
  display: block;
  transition: all 0.2s ease;
}
.header .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(19, 44, 58, 0.788);
  margin: 0px 10px;
}
.header .navbar ul li ul {
  position: absolute;
  right: 0;
  width: 300px;
  background-color: rgba(19, 44, 58, 0.788);
  display: none;
}
.header .navbar ul li ul li {
  width: 100%;
}
.header .navbar ul li ul li a {
  font-size: 16px;
  text-transform: capitalize;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  background-color: rgba(19, 44, 58, 0.788);
  padding: 0px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.footer .navbar-foot ul {
  list-style: none;
}
.footer .navbar-foot ul li a {
  padding: 8px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.footer .navbar-foot ul li a:hover {
  color: #ffffff;
  background-color: rgba(19, 44, 58, 0.788);
  margin: 0px 10px;
}
.footer .marca-agua {
  display: flex;
  align-items: center;
}
.footer .marca-agua ul li {
  display: flex;
  align-items: center;
}

.nosotros-container {
  background-color: #ffffff;
  margin-top: 180px;
  margin-bottom: 80px;
  padding: 0;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.nosotros-container .grid-item1 {
  border-radius: 25px;
  padding: 25px 0px 50px 0px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.nosotros-container .grid-item1 img {
  margin-bottom: 20px;
  width: 20rem;
  height: 21rem;
  border-radius: 25px;
}
.nosotros-container .grid-item1 img:hover {
  width: 19rem;
  height: 20rem;
  border-radius: 25px;
}
.nosotros-container .grid-item1 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.nosotros-container .grid-item2 {
  border-radius: 25px;
  padding: 25px 0px 50px 0px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.nosotros-container .grid-item2 img {
  margin-bottom: 20px;
  width: 20rem;
  height: 21rem;
  border-radius: 25px;
}
.nosotros-container .grid-item2 img:hover {
  width: 19rem;
  height: 20rem;
  border-radius: 25px;
}
.nosotros-container .grid-item2 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.nosotros-container .grid-item3 {
  border-radius: 25px;
  padding: 25px 0px 50px 0px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.nosotros-container .grid-item3 img {
  margin-bottom: 20px;
  width: 20rem;
  height: 21rem;
  border-radius: 25px;
}
.nosotros-container .grid-item3 img:hover {
  width: 19rem;
  height: 20rem;
  border-radius: 25px;
}
.nosotros-container .grid-item3 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.nosotros-container .grid-item4 {
  border-radius: 25px;
  padding: 25px 0px 50px 0px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.nosotros-container .grid-item4 img {
  margin-bottom: 20px;
  width: 20rem;
  height: 21rem;
  border-radius: 25px;
}
.nosotros-container .grid-item4 img:hover {
  width: 19rem;
  height: 20rem;
  border-radius: 25px;
}
.nosotros-container .grid-item4 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}

.titulo-contacto h2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 300px;
  text-decoration: underline;
}

.contactos-container {
  background-color: #ffffff;
  margin-top: 100px;
  margin-bottom: 200px;
  border-radius: 25px;
  padding: 0;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 700px);
  border: 8px solid #1a1a1a;
}
.contactos-container .grid-item1 {
  padding: 25px;
  border-radius: 10px;
  background-color: #1a1a1a;
  grid-column: 1/2;
  grid-row: 1/2;
}
.contactos-container .grid-item1 form {
  align-items: center;
  text-align: center;
}
.contactos-container .grid-item1 form div {
  display: flex;
  padding: 20px;
}
.contactos-container .grid-item1 form div label {
  margin-right: 20px;
  color: #ffffff;
  display: flex;
  text-align: center;
}
.contactos-container .grid-item2 {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
}
.contactos-container .grid-item2 ul {
  margin: 55px;
  padding: 45px;
  list-style: none;
}
.contactos-container .grid-item2 ul .texto {
  display: flex;
}
.contactos-container .grid-item2 ul .texto img {
  padding-right: 10px;
}
.contactos-container .grid-item2 ul li {
  margin: 55px;
  padding: 45px;
}
.contactos-container .grid-item2 ul li a {
  text-decoration: none;
  color: #1a1a1a;
}

/*
.contactos-container .grid-item1 form{
    padding: 25px;
    border-radius: 10px;
    background-color: #1a1a1a;
    align-items: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.contactos-container .grid-item1 form div {
    display: flex;
    padding: 20px;
}
.contactos-container .grid-item1 form label{
    margin-right: 20px;
    color: #ffffff;
    display: flex;
    text-align: center;
}
.contactos-container .grid-item2{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}
.contactos-container .grid-item2 ul{
    margin: 55px;
    padding: 45px;
    list-style: none
}
.contactos-container .grid-item2 ul li{
    margin: 55px;
    padding: 45px;
}
.contactos-container .grid-item2 ul li a{
    text-decoration: none;
    color: #1a1a1a;
}
.contactos-container .grid-item2 ul .text{
    display: flex;
}
.contactos-container .grid-item2 ul .text img{
    padding-right: 10px;
}
*/
.titulo-llegar h2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 300px;
  text-decoration: underline;
}

.llegar-container {
  background-color: #ffffff;
  margin-top: 180px;
  margin-bottom: 200px;
  border-radius: 25px;
  padding: 0;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 700px);
  border: 8px solid #1a1a1a;
}
.llegar-container .grid-item1 {
  padding: 15px;
  border-radius: 15px;
  background-color: #1a1a1a;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  text-align: center;
}
.llegar-container .grid-item1 p {
  padding: 5px 25px 5px 25px;
  color: #ffffff;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.llegar-container .grid-item2 {
  align-items: center;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
}
.llegar-container .grid-item2 iframe {
  padding: 15px;
  border-radius: 25px;
  background-color: #1a1a1a;
}

.cursos-container {
  background-color: #ffffff;
  margin-top: 180px;
  margin-bottom: 80px;
  padding: 0;
  text-align: center;
  align-items: center;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cursos-container .grid-item1 {
  border-radius: 25px;
  padding: 25px 10px 50px 10px;
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: center;
}
.cursos-container .grid-item1 a img {
  width: 28rem;
  height: 21rem;
  border-radius: 25px;
}
.cursos-container .grid-item1 a img:hover {
  width: 27rem;
  height: 20rem;
  border-radius: 25px;
}
.cursos-container .grid-item1 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.cursos-container .grid-item2 {
  border-radius: 25px;
  padding: 25px 10px 50px 10px;
  grid-column: 2/3;
  grid-row: 1/2;
  align-items: center;
}
.cursos-container .grid-item2 a img {
  width: 28rem;
  height: 21rem;
  border-radius: 25px;
}
.cursos-container .grid-item2 a img:hover {
  width: 27rem;
  height: 20rem;
  border-radius: 25px;
}
.cursos-container .grid-item2 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.cursos-container .grid-item3 {
  border-radius: 25px;
  padding: 25px 10px 50px 10px;
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: center;
}
.cursos-container .grid-item3 a img {
  width: 28rem;
  height: 21rem;
  border-radius: 25px;
}
.cursos-container .grid-item3 a img:hover {
  width: 27rem;
  height: 20rem;
  border-radius: 25px;
}
.cursos-container .grid-item3 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}
.cursos-container .grid-item4 {
  border-radius: 25px;
  padding: 25px 10px 50px 10px;
  grid-column: 2/3;
  grid-row: 2/3;
  align-items: center;
}
.cursos-container .grid-item4 a img {
  width: 28rem;
  height: 21rem;
  border-radius: 25px;
}
.cursos-container .grid-item4 a img:hover {
  width: 27rem;
  height: 20rem;
  border-radius: 25px;
}
.cursos-container .grid-item4 .text-item p {
  padding: 5px 25px 5px 25px;
  color: #1a1a1a;
  font-size: large;
  font-weight: bolder;
  text-transform: uppercase;
}

@media (max-width: 950px) {
  .header {
    padding: 20px 10%;
  }
  .header label {
    display: initial;
  }
  .header #Menu-boton:checked ~ .navbar {
    display: block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(19, 44, 58, 0.788);
    display: none;
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li a {
    padding: 8px 30px 8px 10%;
  }
  .header .navbar ul li ul {
    position: relative;
    width: 100%;
    left: 0;
    font-size: medium;
  }
  .header .navbar ul li ul li {
    font-size: medium;
    background-color: rgba(19, 44, 58, 0.788);
  }
  .infofame h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 200px;
    margin-bottom: 45px;
    text-decoration: underline;
  }
  .infofame p {
    text-align: center;
    margin: 2px;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0px 50px;
  }
  .nosotros-container {
    background-color: #ffffff;
    margin-top: 180px;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .cursos-container {
    background-color: #ffffff;
    margin-top: 180px;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .cursos-container .grid-item1 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item1 a img:hover {
    width: 19rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img:hover {
    width: 19rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img:hover {
    width: 19rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img:hover {
    width: 19rem;
    height: 17rem;
    border-radius: 25px;
  }
  .footer {
    padding: 20px 10%;
  }
  .footer .navbar-foot {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(19, 44, 58, 0.788);
    display: none;
  }
  .footer ul li {
    width: 100%;
  }
  .footer ul li a {
    padding: 8px 30px 8px 10%;
  }
  .footer ul li ul {
    position: relative;
    width: 100%;
    left: 0;
    font-size: medium;
  }
  .footer ul li ul li {
    font-size: medium;
    background-color: rgba(19, 44, 58, 0.788);
  }
}
@media (max-width: 375px) {
  .cursos-container .grid-item1 a img {
    width: 18rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item1 a img:hover {
    width: 17rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img {
    width: 18rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img:hover {
    width: 17rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img {
    width: 18rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img:hover {
    width: 17rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img {
    width: 18rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img:hover {
    width: 17rem;
    height: 17rem;
    border-radius: 25px;
  }
}
@media (min-width: 375px) {
  .cursos-container .grid-item1 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item1 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
}
@media (min-width: 425px) {
  .cursos-container .grid-item1 a img {
    width: 23rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item1 a img:hover {
    width: 22rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img {
    width: 23rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img:hover {
    width: 22rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img {
    width: 23rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img:hover {
    width: 22rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img {
    width: 23rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img:hover {
    width: 22rem;
    height: 17rem;
    border-radius: 25px;
  }
}
@media (min-width: 768px) {
  .cursos-container .grid-item1 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item1 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img {
    width: 21rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img:hover {
    width: 20rem;
    height: 17rem;
    border-radius: 25px;
  }
}
@media (min-width: 1024px) {
  .cursos-container .grid-item1 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item1 a img:hover {
    width: 27rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item2 a img:hover {
    width: 27rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item3 a img:hover {
    width: 27rem;
    height: 17rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img {
    width: 28rem;
    height: 18rem;
    border-radius: 25px;
  }
  .cursos-container .grid-item4 a img:hover {
    width: 27rem;
    height: 17rem;
    border-radius: 25px;
  }
}
/*
 @extend + clase con estilos
 & <-- para pseudoclase hover
 @mixin @include nombre();
*/

/*# sourceMappingURL=style.css.map */
