


.contactos-container .grid-item1 form{
    padding: 25px;
    border-radius: 10px;
    background-color: #1a1a1a;
    align-items: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.contactos-container .grid-item1 form div {
    display: flex;
    padding: 20px;
}
.contactos-container .grid-item1 form label{
    margin-right: 20px;
    color: #ffffff;
    display: flex;
    text-align: center;
}
.contactos-container .grid-item2{
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
}
.contactos-container .grid-item2 ul{
    margin: 55px;
    padding: 45px;
    list-style: none
}
.contactos-container .grid-item2 ul li{
    margin: 55px;
    padding: 45px;
}
.contactos-container .grid-item2 ul li a{
    text-decoration: none;
    color: #1a1a1a;
}
.contactos-container .grid-item2 ul .text{
    display: flex;
}
.contactos-container .grid-item2 ul .text img{
    padding-right: 10px;
}

@media (max-width:950px) {
    .header label {

        display: initial;
    }
    .header{
        padding: 20px 10%;
        
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(19, 44, 58, 0.788);
        display: none;
    }
    .header .navbar ul li{
        width: 100%;
    }
    .header .navbar ul li a{
        padding: 8px 30px 8px 10%;
    }
    .header .navbar ul li ul{
        position: relative;
        width: 100%;
        left: 0;
        font-size: medium;
    }
    .header .navbar ul li ul li{
        font-size: medium;
        background-color: rgba(19, 44, 58, 0.788);
    }
    #Menu-boton:checked ~ .navbar{
        display: block;
    }

    .infofame h1{
        text-align: center;
        color: #ffffff;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 200px;
        margin-bottom: 45px;
        text-decoration:underline;
    }
    .infofame p{
        text-align: center;
        margin: 2px;
        color: #ffffff;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0px 50px;
    }

    .nosotros-container{
        background-color: #ffffff;
        margin-top: 180px;
        margin-bottom: 80px;
        padding: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        
    }
    .footer{
        padding: 20px 10%;
        
    }
    .footer .navbar-foot{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(19, 44, 58, 0.788);
        display: none;
    }
    .footer .navbar-foot ul li{
        width: 100%;
    }
    .footer .navbar-foot ul li a{
        padding: 8px 30px 8px 10%;
    }
    .footer .navbar-foot ul li ul{
        position: relative;
        width: 100%;
        left: 0;
        font-size: medium;
    }
    .footer .navbar-foot ul li ul li{
        font-size: medium;
        background-color: rgba(19, 44, 58, 0.788);
    }
    
    
}
