.cursos-container{
    background-color: #ffffff;
    margin: 180px 180px 80px 180px;
    padding: 0;
    text-align: center;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  
    .grid-item1{
        border-radius: 25px;
        padding: 25px 0px 50px 0px;
        grid-column: 1/2;
        grid-row: 1/2;
        a{
            img{
                margin-bottom: 20px;
                width: 28rem;
                height: 21rem;
                border-radius: 25px;
                &:hover{
                    width: 27rem;
                    height: 20rem;
                    border-radius: 25px;
                }
            }
            
            
        }
        .text-item{
            p{
                padding-top: 10px;
                color: #1a1a1a;
                
                font-size: large;
                font-weight: bolder;
                text-transform: uppercase;
            }
        }
      
    }
    .grid-item2{
    
        border-radius: 25px;
        padding: 25px 0px 50px 0px;
        grid-column: 2/3;
        grid-row: 1/2;
        a{
            img{
                margin-bottom: 20px;
                width: 28rem;
                height: 21rem;
                border-radius: 25px;
                &:hover{
                    width: 27rem;
                    height: 20rem;
                    border-radius: 25px;
                }
            }
            
            
        }
        .text-item{
            p{
                padding-top: 10px;
                color: #1a1a1a;
                
                font-size: large;
                font-weight: bolder;
                text-transform: uppercase;
            }
        }
    }
    .grid-item3{
        
        border-radius: 25px;
        padding: 25px 0px 50px 0px;
        grid-column: 1/2;
        grid-row: 2/3;
        a{
            img{
                margin-bottom: 20px;
                width: 28rem;
                height: 21rem;
                border-radius: 25px;
                &:hover{
                    width: 27rem;
                    height: 20rem;
                    border-radius: 25px;
                }
            }
            
            
        }
        .text-item{
            p{
                padding-top: 10px;
                color: #1a1a1a;
                
                font-size: large;
                font-weight: bolder;
                text-transform: uppercase;
            }
        }
    
    }
    .grid-item4{
        
        border-radius: 25px;
        padding: 25px 0px 50px 0px;
        grid-column: 2/3;
        grid-row: 2/3;
        a{
            img{
                margin-bottom: 20px;
                width: 28rem;
                height: 21rem;
                border-radius: 25px;
                &:hover{
                    width: 27rem;
                    height: 20rem;
                    border-radius: 25px;
                }
            }
            
            
        }
        .text-item{
            p{
                padding-top: 10px;
                color: #1a1a1a;
                
                font-size: large;
                font-weight: bolder;
                text-transform: uppercase;
            }
        }
    
    }
    
}
