@media (max-width:950px) {
    .header{
        padding: 20px 10%;
        label {

            display: initial;
        }
        #Menu-boton:checked ~ .navbar{
            display: block;
        }
        .navbar{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: rgba(19, 44, 58, 0.788);
            display: none;
            ul{
                li{
                    width: 100%;
                    a{
                        padding: 8px 30px 8px 10%;
                    }
                    ul{
                        position: relative;
                        width: 100%;
                        left: 0;
                        font-size: medium;
                        li{
                            font-size: medium;
                            background-color: rgba(19, 44, 58, 0.788);
                        }
                    }
                }
            }
        }
    }
    

    .infofame {
        h1{
            text-align: center;
            color: #ffffff;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bolder;
            margin-top: 200px;
            margin-bottom: 45px;
            text-decoration:underline;
        }
        p{
            text-align: center;
            margin: 2px;
            color: #ffffff;
            font-size: 1em;
            text-transform: uppercase;
            font-weight: bolder;
            padding: 0px 50px;
        }
    }

    .nosotros-container{
        background-color: #ffffff;
        margin-top: 180px;
        margin-bottom: 80px;
        padding: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        
    }
    .footer{
        padding: 20px 10%;
        .navbar-foot{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: rgba(19, 44, 58, 0.788);
            display: none;
        }
        ul{
            li{
                width: 100%;
                a{
                    padding: 8px 30px 8px 10%;
                }
                ul{
                    position: relative;
                    width: 100%;
                    left: 0;
                    font-size: medium;
                    li{
                        font-size: medium;
                        background-color: rgba(19, 44, 58, 0.788);
                    }
                }
            }
        }
    }
    
}