@media (max-width:375px){
    .cursos-container{
        .grid-item1{
            a{
                img{
                    width: 18rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 17rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
          
        }
        .grid-item2{
        
            a{
                img{
                    width: 18rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 17rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        }
        .grid-item3{
            
            a{
                img{
                    width: 18rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 17rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        
        }
        .grid-item4{
            
            a{
                img{
                    width: 18rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 17rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
        }
    }
}

@media (min-width:375px){
    .cursos-container{
        .grid-item1{
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
          
        }
        .grid-item2{
        
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        }
        .grid-item3{
            
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        
        }
        .grid-item4{
            
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
        }
    }
}

@media (min-width:425px){
    .cursos-container{
        .grid-item1{
            a{
                img{
                    width: 23rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 22rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
          
        }
        .grid-item2{
        
            a{
                img{
                    width: 23rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 22rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        }
        .grid-item3{
            
            a{
                img{
                    width: 23rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 22rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        
        }
        .grid-item4{
            
            a{
                img{
                    width: 23rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 22rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
        }
    }
}

@media (min-width:768px){
    .cursos-container{
        .grid-item1{
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
          
        }
        .grid-item2{
        
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        }
        .grid-item3{
            
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        
        }
        .grid-item4{
            
            a{
                img{
                    width: 21rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 20rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
        }
    }
}

@media (min-width:1024px){
    .cursos-container{
        .grid-item1{
            a{
                img{
                    width: 28rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 27rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
          
        }
        .grid-item2{
        
            a{
                img{
                    width: 28rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 27rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        }
        .grid-item3{
            
            a{
                img{
                    width: 28rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 27rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
            
        
        }
        .grid-item4{
            
            a{
                img{
                    width: 28rem;
                    height: 18rem;
                    border-radius: 25px;
                    &:hover{
                        width: 27rem;
                        height: 17rem;
                        border-radius: 25px;
                    }
                }
                
                
            }
        }
    }
}